<template>
    <div>
        <div class="card">
            <div class="card-content">
                <div class="column is-full">
                    <h3>Referral Code</h3>
                </div>
                <div class="column is-full">
                    <div class="columns">
                        <div class="column is-two-thirds">
                            <b-field>
                                <b-input class="is-success" placeholder="Search" rounded v-model="search"
                                    icon-pack="fas" :icon-right="iconSearch" icon-right-clickable
                                    @icon-right-click="clearSearch">
                                    ></b-input>
                            </b-field>
                        </div>
                        <div class="column is-one-third has-text-right">
                            <b-button type="is-success" @click="createReferral" rounded>
                                + Add Referral Code
                            </b-button>
                        </div>
                    </div>
                </div>
                <div class="column is-full">
                    <b-table :data="listReferralCode" :mobile-cards="true">
                        <b-table-column field="referral_code" label="Referral Code" v-slot="props">
                            {{ props.row.referral_code }}
                        </b-table-column>

                        <b-table-column field="type" label="Type" v-slot="props">
                            {{ props.row.type }}
                        </b-table-column>

                        <b-table-column field="description" label="Description" v-slot="props">
                            {{ props.row.description }}
                        </b-table-column>

                        <b-table-column field="description" label="User" v-slot="props">
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column field="created_at" label="Created At" v-slot="props">
                            {{ formatDate(props.row.created_at, 1) }}
                        </b-table-column>
                        <b-table-column field="action" label="..." centered v-slot="props">
                            <div class="buttons">
                                <b-button size="is-small" @click="editReferral(props)" type="has-text-grey-dark"
                                    icon-pack="fas" icon-left="pencil" rounded />
                                <b-tooltip type="is-white" :triggers="['click']" :auto-close="['outside', 'escape']"
                                    :active="tooltipDelete" :animated="false">
                                    <template v-slot:content>
                                        <b-button icon-pack="fas" icon-left="circle-exclamation" size="is-small"
                                            type="has-text-warning" class="pt-2" style="border: none">
                                            <span class="has-text-black pl-1">Are you sure you want to remove this
                                                record?</span>
                                        </b-button>
                                        <div class="has-text-right pt-2">
                                            <b-button size="is-small" type="has-text-grey-dark" rounded
                                                @click="tooltipDelete = false">
                                                Cancel
                                            </b-button>
                                            <b-button size="is-small" type="is-danger" rounded
                                                @click="deleteReferral(props)">
                                                Confirm
                                            </b-button>
                                        </div>
                                    </template>
                                    <b-button size="is-small" type="has-text-grey-dark" icon-pack="fas"
                                        icon-left="trash-can" rounded @click="showTooltip(props)" />
                                </b-tooltip>
                            </div>
                        </b-table-column>

                        <template #empty>
                            <div class="has-text-centered">No records</div>
                        </template>
                    </b-table>
                    <b-modal v-model="addNew" has-modal-card trap-focus :destroy-on-hide="false" aria-role="dialog"
                        aria-label="Add Referral Code" close-button-aria-label="Close" aria-modal>
                        <template #default="props">
                            <modal-form :referral_code.sync="form_referral_code.referral_code"
                                :type.sync="form_referral_code.type" :description.sync="form_referral_code.description"
                                @close="props.close" @success="createReferralCode"></modal-form>
                        </template>
                    </b-modal>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.b-tooltip.is-top .tooltip-content {
    transform: translateX(-95%) !important;
}

.b-tooltip.is-top .tooltip-content::before {
    transform: translateX(1350%) !important;
}

.modal-card-head {
    border-bottom: 0px solid #dbdbdb !important;
}

.modal-card-foot {
    border-top: 0px solid #dbdbdb !important;
    text-align: right !important;
}
</style>
<script>
import moment from "moment";
const ModalForm = {
    props: ["referral_code", "type", "description"],

    template: `
            <form action="">
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head has-background-white pb-0">
                        <section class="modal-card-body py-0 px-2">
                            <div class="field is-vertical">
                                <div class="field-label is-normal has-text-left">
                                    <label class="">Add Referral Code</label>
                                </div>
                            </div>
                            <div class="field is-vertical">
                                <div class="field-label is-normal has-text-left">
                                    <label class="">Referral Code</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <p class="control">
                                        <input class="input is-success is-rounded" type="text" v-model="referralCodeInput" placeholder="Referral Code" required>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-vertical">
                                <div class="field-label is-normal has-text-left">
                                    <label class="">Type</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <p class="control">
                                        <input class="input is-success is-rounded" type="text" v-model="typeInput" placeholder="Type" required>
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-vertical">
                                <div class="field-label is-normal has-text-left">
                                    <label class="">Desctription</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <p class="control">
                                        <textarea class="textarea is-success has-fixed-size is-rounded" v-model="descriptionInput" placeholder="Desctription" rows="2" required></textarea>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </header>
                    <div class="modal-card-foot has-background-white has-text-right">
                        <b-button
                            label="Close"
                            @click="$emit('close')" class="is-mall" rounded/>
                        <b-button
                            label="Submit"
                            type="is-success"
                                @click="$emit('success')" class="is-mall" rounded/>
                    </div>
                </div>
            </form>
        `,
    computed: {
        referralCodeInput: {
            get: function () {
                return this.referral_code;
            },
            set: function (newValue) {
                this.$emit("update:referral_code", newValue);
            },
        },
        typeInput: {
            get: function () {
                return this.type;
            },
            set: function (newValue) {
                this.$emit("update:type", newValue);
            },
        },
        descriptionInput: {
            get: function () {
                return this.description;
            },
            set: function (newValue) {
                this.$emit("update:description", newValue);
            },
        },
    },
};
export default {
    components: {
        ModalForm,
    },
    data() {
        return {
            addNew: false,
            search: "",
            iconSearch: "",
            tooltipDelete: false,
            referral_code: [],
            form_referral_code: {
                referral_code: "",
                type: "",
                description: "",
            },
            editedItem: {
                referral_code: "",
                type: "",
                description: "",
            },

            editedIndex: -1,
        };
    },
    computed: {
        listReferralCode() {
            return this.referral_code.filter((items) => {
                if (this.search !== "") {
                    this.iconSearch = "circle-xmark";
                }
                return items.referral_code
                    .toLowerCase()
                    .includes(this.search.toLowerCase());
            });
        },
    },
mounted() {
    this.getReferralCode()
},
    methods: {
        formatDate(value, type) {
            if (type === 1) {
                return moment(value).format("DD/MM/YYYY HH:mm");
            } else if (type === 2) {
                return moment(value).format("DD MMMM YYYY");
            } else if (type === 3) {
                return moment(value).format("DD MMM YYYY");
            }
        },

        clearSearch() {
            this.search = "";
        },

        setFormDefault() {
            this.form_referral_code = [];
            this.form_referral_code.id = "";
            this.form_referral_code.user_id = "";
            this.form_referral_code.referral_code = "";
            this.form_referral_code.type = "";
            this.form_referral_code.description = "";
        },
        createReferral() {
            this.addNew = true;
        },
        closeReferral() {
            this.form_referral_code = [];
            this.form_referral_code.id = "";
            this.form_referral_code.user_id = "";
            this.form_referral_code.referral_code = "";
            this.form_referral_code.type = "";
            this.form_referral_code.description = "";
            this.addNew = false;
            this.getReferralCode();
        },

        async getReferralCode() {
            let response = await axios.get(`/api/referral-code`);
            if (response.status === 200) {
                this.referral_code = response.data.data;
            }
        },

        async createReferralCode() {
            if (this.editedIndex > 0) {
                let response = await axios.patch(
                    `/api/referral-code/${this.form_referral_code.id}/update`,
                    this.form_referral_code
                );
                if (response.status === 200) {
                    this.closeReferral();
                }
            } else {
                let response = await axios.post(
                    `/api/referral-code/create`,
                    this.form_referral_code
                );
                if (response.status === 200) {
                    this.closeReferral();
                }
            }
        },

        editReferral(item) {
            //   console.log(this.form_referral_code, "a");
            this.setFormDefault();
            this.editedIndex = 1;
            this.form_referral_code = Object.assign({}, item.row);
            //   console.log(this.form_referral_code, "b");
            this.addNew = true;
        },

        showTooltip(item) {
            this.editedIndex = 1;
            this.form_referral_code = Object.assign({}, item.row);
            this.tooltipDelete = true;
        },

        async deleteReferral() {
            if (this.editedIndex > 0) {
                let response = await axios.delete(
                    `/api/referral-code/${this.form_referral_code.id}/delete`
                );
                if (response.status === 200) {
                    this.tooltipDelete = false;
                    this.closeReferral();
                }
            }
        },
    },
};
</script>